<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="section-title">Advantages</h2>
    <ul class="advantages-list">
      <li class="advantages-item">
        <div class="gradient-svg">
          <img
            class="advantages-icon"
            src="./img/desktop/advantages/icon1.webp"
            srcset="./img/mobile/advantages/icon1.webp 320w, ./img/desktop/advantages/icon1.webp 1440w, ./img/mobile/advantages/icon1-2x.webp 2x, ./img/desktop/advantages/icon1-2x.webp 2x"
            alt="game joystick"
          />
        </div>
        <h3 class="advantages-item-title">Engaging Storyline</h3>
        <p class="advantages-item-text">
          Follow the beagles' adventures across mystical lands
        </p>
      </li>
      <li class="advantages-item">
        <div class="gradient-svg">
            <img
            class="advantages-icon"
            src="./img/desktop/advantages/icon2.webp"
            srcset="./img/mobile/advantages/icon2.webp 320w, ./img/desktop/advantages/icon2.webp 1440w, ./img/mobile/advantages/icon2-2x.webp 2x, ./img/desktop/advantages/icon2-2x.webp 2x"
            alt="gift"
          />
        </div>
        <h3 class="advantages-item-title">Innovative Power-ups</h3>
        <p class="advantages-item-text">
          Unique boosts make each level an exciting challenge
        </p>
      </li>
      <li class="advantages-item">
        <div class="gradient-svg">
          <img
            class="advantages-icon"
            src="./img/desktop/advantages/icon3.webp"
            srcset="./img/mobile/advantages/icon3.webp 320w, ./img/desktop/advantages/icon3.webp 1440w, ./img/mobile/advantages/icon3-2x.webp 2x, ./img/desktop/advantages/icon3-2x.webp 2x"
            alt="level
"
          />
        <h3 class="advantages-item-title">Diverse Levels</h3>
        <p class="advantages-item-text">
          Over 500 puzzles ensure hours of engaging gameplay
        </p>
      </li>
      <li class="advantages-item">
        <div class="gradient-svg">
            <img
            class="advantages-icon"
            src="./img/desktop/advantages/icon4.webp"
            srcset="./img/mobile/advantages/icon4.webp 320w, ./img/desktop/advantages/icon4.webp 1440w, ./img/mobile/advantages/icon4-2x.webp 2x, ./img/desktop/advantages/icon4-2x.webp 2x"
            alt="level"
          />
        </div>
        <h3 class="advantages-item-title">Stunning Graphics</h3>
        <p class="advantages-item-text">
          Beautiful, colorful visuals bring the game world to life
        </p>
      </li>
      <li class="advantages-item">
        <div class="gradient-svg">
             <img
            class="advantages-icon"
            src="./img/desktop/advantages/icon5.webp"
            srcset="./img/mobile/advantages/icon5.webp 320w, ./img/desktop/advantages/icon5.webp 1440w, ./img/mobile/advantages/icon5-2x.webp 2x, ./img/desktop/advantages/icon5-2x.webp 2x"
            alt="
update symbol"
          />
        </div>
        <h3 class="advantages-item-title">Regular Updates</h3>
        <p class="advantages-item-text">
          New levels and features added regularly to keep the excitement going
        </p>
      </li>
      <li class="advantages-item">
        <div class="gradient-svg">
             <img
            class="advantages-icon"
            src="./img/desktop/advantages/icon6.webp"
            srcset="./img/mobile/advantages/icon6.webp 320w, ./img/desktop/advantages/icon6.webp 1440w, ./img/mobile/advantages/icon6-2x.webp 2x, ./img/desktop/advantages/icon6-2x.webp 2x"
            alt="
family symbol"
          />
        </div>
        <h3 class="advantages-item-title">Family Friendly</h3>
        <p class="advantages-item-text">
          Suitable for players of all ages with easy-to-learn mechanics
        </p>
      </li>
    </ul>
  </div>
</section>
