<section class="section">
  <div class="container">
    <h2 class="section-title">FAQ</h2>
    <ul class="faq-list">
      <li class="faq-item">
        <div>
          <p class="fag-item-question"></p>
          <svg class="faq-item-icon" width="24px" height="24px">
            <use href="../svg/symbol-defs.svg#icon-minus"></use>
          </svg>
          <svg class="faq-item-icon" width="24px" height="24px">
            <use href="../svg/symbol-defs.svg#icon-plus"></use>
          </svg>
        </div>
        <p class="faq-item-answer"></p>
      </li>
      <li class="faq-item">
        <div>
          <p class="fag-item-question"></p>
          <svg class="faq-item-icon" width="24px" height="24px">
            <use href="../svg/symbol-defs.svg#icon-minus"></use>
          </svg>
          <svg class="faq-item-icon" width="24px" height="24px">
            <use href="../svg/symbol-defs.svg#icon-plus"></use>
          </svg>
        </div>
        <p class="faq-item-answer"></p>
      </li>
      <li class="faq-item">
        <div>
          <p class="fag-item-question"></p>
          <svg class="faq-item-icon" width="24px" height="24px">
            <use href="../svg/symbol-defs.svg#icon-minus"></use>
          </svg>
          <svg class="faq-item-icon" width="24px" height="24px">
            <use href="../svg/symbol-defs.svg#icon-plus"></use>
          </svg>
        </div>
        <p class="faq-item-answer"></p>
      </li>
      <li class="faq-item">
        <div>
          <p class="fag-item-question"></p>
          <svg class="faq-item-icon" width="24px" height="24px">
            <use href="../svg/symbol-defs.svg#icon-minus"></use>
          </svg>
          <svg class="faq-item-icon" width="24px" height="24px">
            <use href="../svg/symbol-defs.svg#icon-plus"></use>
          </svg>
        </div>
        <p class="faq-item-answer"></p>
      </li>
      <li class="faq-item">
        <div>
          <p class="fag-item-question"></p>
          <svg class="faq-item-icon" width="24px" height="24px">
            <use href="../svg/symbol-defs.svg#icon-minus"></use>
          </svg>
          <svg class="faq-item-icon" width="24px" height="24px">
            <use href="../svg/symbol-defs.svg#icon-plus"></use>
          </svg>
        </div>
        <p class="faq-item-answer"></p>
      </li>
      <li class="faq-item">
        <div>
          <p class="fag-item-question"></p>
          <svg class="faq-item-icon" width="24px" height="24px">
            <use href="../svg/symbol-defs.svg#icon-minus"></use>
          </svg>
          <svg class="faq-item-icon" width="24px" height="24px">
            <use href="../svg/symbol-defs.svg#icon-plus"></use>
          </svg>
        </div>
        <p class="faq-item-answer"></p>
      </li>
      <li class="faq-item">
        <div>
          <p class="fag-item-question"></p>
          <svg class="faq-item-icon" width="24px" height="24px">
            <use href="../svg/symbol-defs.svg#icon-minus"></use>
          </svg>
          <svg class="faq-item-icon" width="24px" height="24px">
            <use href="../svg/symbol-defs.svg#icon-plus"></use>
          </svg>
        </div>
        <p class="faq-item-answer"></p>
      </li>
      <li class="faq-item">
        <div>
          <p class="fag-item-question"></p>
          <svg class="faq-item-icon" width="24px" height="24px">
            <use href="../svg/symbol-defs.svg#icon-minus"></use>
          </svg>
          <svg class="faq-item-icon" width="24px" height="24px">
            <use href="../svg/symbol-defs.svg#icon-plus"></use>
          </svg>
        </div>
        <p class="faq-item-answer"></p>
      </li>
      <li class="faq-item">
        <div>
          <p class="fag-item-question"></p>
          <svg class="faq-item-icon" width="24px" height="24px">
            <use href="../svg/symbol-defs.svg#icon-minus"></use>
          </svg>
          <svg class="faq-item-icon" width="24px" height="24px">
            <use href="../svg/symbol-defs.svg#icon-plus"></use>
          </svg>
        </div>
        <p class="faq-item-answer"></p>
      </li>
      <li class="faq-item">
        <div>
          <p class="fag-item-question"></p>
          <svg class="faq-item-icon" width="24px" height="24px">
            <use href="../svg/symbol-defs.svg#icon-minus"></use>
          </svg>
          <svg class="faq-item-icon" width="24px" height="24px">
            <use href="../svg/symbol-defs.svg#icon-plus"></use>
          </svg>
        </div>
        <p class="faq-item-answer"></p>
      </li>
    </ul>
  </div>
</section>
