<section class="gallery" id="gallery">
  <div class="container">
    <h2 class="section-title">Gallery</h2>
    <div class="slider">
      <ul class="slides">
        <li class="slide"></li>
        <li class="slide"></li>
        <li class="slide"></li>
      </ul>
      <button type="button" class="prev" onclick="plusSlides(-1)">
        <svg><use href="../svg/symbol-defs.svg#icon-back"></use></svg>
      </button>
      <button type="button" class="next" onclick="plusSlides(1)">
        <svg><use href="../svg/symbol-defs.svg#icon-next"></use></svg>
      </button>
      <div class="pagination">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>
    </div>
  </div>
</section>
