<section class="section hero">
  <div class="container hero-box">
    <div class="google-box">
      <h1 class="title">
        j<span class="title-img"></span>in the beagle adventure
      </h1>
      <p class="paragraph">
        Unleash Your Puzzle Prowess and Discover a Universe
        <span class="hero-span">of Fun!</span>
      </p>
      <a
        href="https://play.google.com/store/apps/details?id=com.cookapps.beagles.ng003"
        class="google-btn"
      >
        <svg width="56" height="56">
          <use href="../svg/symbol-defs.svg#icon-google-play"></use>
        </svg>
        <div>
          <span class="google-btn-text">get it on</span>
          <span class="google-btn-title">google play</span>
        </div>
      </a>
    </div>
    <div class="hero-box-image">
      <img
        class="hero-image"
        src="./img/desktop/hero-image.webp"
        srcset="./img/mobile/hero-image.webp 320w, ./img/desktop/hero-image.webp 1440w, ./img/mobile/hero-image-2x.webp 2x, ./img/desktop/hero-image-2x.webp 2x"
        alt="Beagle hero image"
      />
    </div>
    <a
      href="https://play.google.com/store/apps/details?id=com.cookapps.beagles.ng003"
      class="google-btn-2"
    >
      <svg width="56px" height="56px">
        <use href="../svg/symbol-defs.svg#icon-google-play"></use>
      </svg>
      <div>
        <span class="google-btn-text">get it on</span>
        <span class="google-btn-title">google play</span>
      </div>
    </a>
  </div>
  <div class="marquee">
    <p class="disclaimer">
      STARWINZONE.COM IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF WINNING
      PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME AS WINNING IN REAL LIFE
      GAMES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY
      PLAYING THIS GAME!
    </p>
  </div>
</section>
