<div id="mobile-menu" class="mobile-menu">
  <div>
    <div class="logo">
      <img
        class="logo-img"
        src="./img/logo.webp"
        srcset="./img/logo.webp 1x, ./img/logo2x.webp 2x"
        alt="Candy Blast logo"
      />
    </div>
    <button id="menu-close" class="menu-close-btn" type="button">
      <svg class="close-icon" width="40px" height="40px">
        <use href="../svg/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <nav class="nav-mob">
    <ul class="nav-list-mob">
      <li class="nav-item">
        <a href="#gallery" class="nav-link">Gallery</a>
      </li>

      <li class="nav-item">
        <a href="#about" class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a href="#advantages" class="nav-link">Advantages</a>
      </li>
      <li class="nav-item">
        <a href="#faq" class="nav-link">FAQ</a>
      </li>
    </ul>
  </nav>
  <nav class="nav-page2">
    <a href="./index.html" class="nav-link">Home</a>
  </nav>
</div>
