<section class="section rewievs">
  <div class="container">
    <h2 class="section-title">Review</h2>
    <div class="reviews-slider">
      <ul class="reviews-list">
        <li id="slide1" class="reviews-item">
          <div class="reviews-item-star">
            <svg class="reviews-star-icon">
              <use href="../svg/symbol-defs.svg#icon-star-filled"></use>
            </svg>
            <svg class="reviews-star-icon">
              <use href="../svg/symbol-defs.svg#icon-star-filled"></use>
            </svg>
            <svg class="reviews-star-icon">
              <use href="../svg/symbol-defs.svg#icon-star-filled"></use>
            </svg>
            <svg class="reviews-star-icon">
              <use href="../svg/symbol-defs.svg#icon-star-filled"></use>
            </svg>
            <svg class="reviews-star-icon">
              <use href="../svg/symbol-defs.svg#icon-star-filled"></use>
            </svg>
          </div>
          <p class="reviews-item-text">
            Absolutely addictive! The beagles are so cute and the challenges
            keep me coming back.
          </p>
          <div class="reviews-item-from">
            <img
              class="reviews-photo"
              src="./img/avatar1.webp"
              srcset="./img/avatar1.webp 1x, ./img/avatar1-2x.webp 2x"
              alt="girl with long hair"
            />
            <p class="reviews-item-from-name">PuzzleLover101</p>
          </div>
        </li>
        <li id="slide2" class="reviews-item">
          <div class="reviews-item-star">
            <svg class="reviews-star-icon">
              <use href="../svg/symbol-defs.svg#icon-star-filled"></use>
            </svg>
            <svg class="reviews-star-icon">
              <use href="../svg/symbol-defs.svg#icon-star-filled"></use>
            </svg>
            <svg class="reviews-star-icon">
              <use href="../svg/symbol-defs.svg#icon-star-filled"></use>
            </svg>
            <svg class="reviews-star-icon">
              <use href="../svg/symbol-defs.svg#icon-star-filled"></use>
            </svg>
            <svg class="reviews-star-icon">
              <use href="../svg/symbol-defs.svg#icon-star-filled"></use>
            </svg>
          </div>
          <p class="reviews-item-text">
            Great for puzzle enthusiasts of all ages. I love the graphics and
            the storyline!
          </p>
          <div class="reviews-item-from">
            <img
              class="reviews-photo"
              src="./img/avatar2.webp"
              srcset="./img/avatar2.webp 1x, ./img/avatar2-2x.webp 2x"
              alt="man in glasses"
            />
            <p class="reviews-item-from-name">MatchMaster</p>
          </div>
        </li>
        <li id="slide3" class="reviews-item">
          <div class="reviews-item-star">
            <svg class="reviews-star-icon">
              <use href="../svg/symbol-defs.svg#icon-star-filled"></use>
            </svg>
            <svg class="reviews-star-icon">
              <use href="../svg/symbol-defs.svg#icon-star-filled"></use>
            </svg>
            <svg class="reviews-star-icon">
              <use href="../svg/symbol-defs.svg#icon-star-filled"></use>
            </svg>
            <svg class="reviews-star-icon">
              <use href="../svg/symbol-defs.svg#icon-star-filled"></use>
            </svg>
            <svg class="reviews-star-icon">
              <use href="../svg/symbol-defs.svg#icon-star-filled"></use>
            </svg>
          </div>
          <p class="reviews-item-text">
            Each level offers something new. It's fun and never gets boring!
          </p>
          <div class="reviews-item-from">
            <img
              class="reviews-photo"
              src="./img/avatar3.webp"
              srcset="./img/avatar3.webp 1x, ./img/avatar3-2x.webp 2x"
              alt="men with beard"
            />
            <p class="reviews-item-from-name">AdventureSeeker</p>
          </div>
        </li>
        <li id="slide4" class="reviews-item">
          <div class="reviews-item-star">
            <svg class="reviews-star-icon">
              <use href="../svg/symbol-defs.svg#icon-star-filled"></use>
            </svg>
            <svg class="reviews-star-icon">
              <use href="../svg/symbol-defs.svg#icon-star-filled"></use>
            </svg>
            <svg class="reviews-star-icon">
              <use href="../svg/symbol-defs.svg#icon-star-filled"></use>
            </svg>
            <svg class="reviews-star-icon">
              <use href="../svg/symbol-defs.svg#icon-star-filled"></use>
            </svg>
            <svg class="reviews-star-icon">
              <use href="../svg/symbol-defs.svg#icon-star-filled"></use>
            </svg>
          </div>
          <p class="reviews-item-text">
            The best match-3 game I've played in a while! The beagle theme is
            unique and very engaging.
          </p>
          <div class="reviews-item-from">
            <img
              class="reviews-photo"
              src="./img/avatar4.webp"
              srcset="./img/avatar4.webp 1x, ./img/avatar4-2x.webp 2x"
              alt="smiled man"
            />
            <p class="reviews-item-from-name">CandyCrusher</p>
          </div>
        </li>
        <li id="slide5" class="reviews-item">
          <div class="reviews-item-star">
            <svg class="reviews-star-icon">
              <use href="../svg/symbol-defs.svg#icon-star-filled"></use>
            </svg>
            <svg class="reviews-star-icon">
              <use href="../svg/symbol-defs.svg#icon-star-filled"></use>
            </svg>
            <svg class="reviews-star-icon">
              <use href="../svg/symbol-defs.svg#icon-star-filled"></use>
            </svg>
            <svg class="reviews-star-icon">
              <use href="../svg/symbol-defs.svg#icon-star-filled"></use>
            </svg>
            <svg class="reviews-star-icon">
              <use href="../svg/symbol-defs.svg#icon-star-filled"></use>
            </svg>
          </div>
          <p class="reviews-item-text">
            My kids and I love playing this game together. It's perfect for
            family game nights!
          </p>
          <div class="reviews-item-from">
            <img
              class="reviews-photo"
              src="./img/avatar5.webp"
              srcset="./img/avatar5.webp 1x, ./img/avatar5-2x.webp 2x"
              alt="man with glasses and cap"
            />
            <p class="reviews-item-from-name">FamilyGamer</p>
          </div>
        </li>
      </ul>
      <div class="pagination">
        <button type="button" class="reviews-pagination-button">
          <svg class="reviews-star-icon">
            <use href="./svg/symbol-defs.svg#icon-point"></use>
          </svg>
        </button>
        <button type="button" class="reviews-pagination-button">
          <svg class="reviews-star-icon">
            <use href="./svg/symbol-defs.svg#icon-point"></use>
          </svg>
        </button>
        <button type="button" class="reviews-pagination-button">
          <svg class="reviews-star-icon">
            <use href="./svg/symbol-defs.svg#icon-point"></use>
          </svg>
        </button>
        <button type="button" class="reviews-pagination-button">
          <svg class="reviews-star-icon">
            <use href="./svg/symbol-defs.svg#icon-point"></use>
          </svg>
        </button>
        <button type="button" class="reviews-pagination-button">
          <svg class="reviews-star-icon">
            <use href="./svg/symbol-defs.svg#icon-point"></use>
          </svg>
        </button>
      </div>
      <button type="button" class="reviews-button-prev">
        <svg class="reviews-star-icon">
          <use href="../svg/symbol-defs.svg#icon-back"></use>
        </svg>
      </button>
      <button type="button" class="reviews-button-next">
        <svg class="reviews-star-icon">
          <use href="./svg/symbol-defs.svg#icon-next"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
