<section class="section">
  <div class="container statistic">
    <img
      class="statistic"
      src="./img/desktop/box.webp"
      srcset="./img/mobile/box.webp 320w, ./img/desktop/box.webp 1440w, ./img/mobile/box-2x.webp 2x, ./img/desktop/box-2x.webp 2x"
      alt="Beagle hero image"
    />
    <h3 class="statistic-subtitle">
      Embark on a thrilling adventure with "Beagle Universe"!
    </h3>
    <p class="statistic-text">
      Match your way through a universe of colorful challenges and help our
      adorable beagles on their epic journey!
    </p>
    <ul class="stats-list">
      <li class="stats-item">
        <span class="stats-value">50 000+</span>
        <span class="stats-label">downloads</span>
      </li>
      <li class="stats-item">
        <span class="stats-value">4.8</span>
        <span class="stats-label">rating</span>
      </li>
      <li class="stats-item">
        <span class="stats-value">1 000+</span>
        <span class="stats-label">reviews</span>
      </li>
    </ul>
  </div>
</section>
