<section class="section download">
  <div class="container">
    <div class="game-photo"></div>
    <h2 class="section-title blast">Candy blast: sugar splash</h2>

    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://play.google.com/store/apps/details?id=com.cookapps.beagles.ng003"
      class="google-button"
    >
      <svg width="56" height="56">
        <use href="./svg/symbol-defs.svg#icon-google-play"></use>
      </svg>
      <div>
        <span class="google-btn-text">get it on</span>
        <span class="google-btn-title">google play</span>
      </div>
    </a>
  </div>
</section>
