@font-face {
  font-family: 'Montio';
  src: url('/fonts/Montio-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans.ttf') format('truetype');
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  position: relative;
  color: var(--body-text-color);
  background-color: var(--background-color);
  transition: background-color 1.5s;
}
:root {
  color: #202020;
  background-color: #fcf5e5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.container {
  padding: 0 24px;
  width: 272px;
  margin: 0 auto;

  @media screen and (min-width: $desktop) {
    padding: 0 72px;
    width: 1296px;
    position: relative;
  }
}
section {
  margin: 96px 0;
  @media screen and (min-width: $desktop) {
    margin: 160px 0;
  }
}
h2 {
  @include font(36, 39.6);
  font-family: Montio;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  @media screen and (min-width: $desktop) {
    @include font(56, 61.6);
    margin-bottom: 56px;
  }
}
@import './header.scss';
@import './footer.scss';
@import './page2-3.scss';
@import './hero.scss';
@import './gallery.scss';
@import './about.scss';
@import './statistic.scss';
@import './advantages.scss';
@import './faq.scss';
@import './todownload.scss';
@import './reviews.scss';
